* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}

:root {
    --background-color: #141c24;
    --secondary-color: #2d3748;
    --text-color: #ffffff; 
    --secodary-text-color: #434445;
    --accent-color: #4a5568; 
    --highlight-color: #1a202c; 
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    width: 100%;
    flex: 1;
}

header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.containerMenus {
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
}

.pesquisarMenu {
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 70px;
    gap: 10px;
    cursor: pointer;
}

.containerTabela {
    display: flex;
    justify-content: center;
}

table i {
    color: var(--secondary-color);
    cursor: pointer;
}

table {
    background-color: var(--secondary-color);
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

table td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 25px;
    padding: 10px 50px;
    height: 40px;
    cursor: default;
}

tbody {
    background-color: var(--background-color);
    font-size: 20px;
    cursor: default;
    color: var(--text-color);
}

#img-icon-campeao {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

#img-icon-campeao img {
    border-radius: 50%;
    border: solid 1px rgb(235, 119, 206);
    display: block;
    width: 40px; 
    height: 40px; 
}

table td img {
    vertical-align: middle; 
}

tbody tr:nth-child(odd) {
    background-color: var(--accent-color); 
}

tbody tr:nth-child(even) {
    background-color: var(--background-color); 
}

tfoot {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 0px;
    height: 35px;
    text-align: center;
}

.tabela-scroll {
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid --text-color; 
    margin-top: 10px; 
}

footer {
    margin-top: 30px ;
    background-color: var(--secondary-color);
    color: var(--text-color);
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    padding: 4px 0;
    text-align: center;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    font-size: 10px;
}

footer a {
    color: #6897f0;
    text-decoration: none;
}

/* 0px - 480px = smartphones */
@media (max-width: 480px) {
    body {
        font-size: 14px; /* Reduz o tamanho da fonte para melhor legibilidade em telas pequenas */
    }

    .containerMenus {
        flex-direction: column; /* Empilha os menus em uma coluna */
        align-items: center; /* Centraliza os itens */
        padding: 10px; /* Adiciona um pouco de padding */
    }

    .contatosMenu,
    .adicionarMenu,
    .pesquisa {
        flex: 1 1 100%; /* Cada menu ocupa 100% da largura */
        margin: 10px 0; /* Espaçamento vertical entre os menus */
    }

    .pesquisa input {
        width: 100%; /* O campo de pesquisa ocupa toda a largura do menu */
        padding: 8px; /* Aumenta o padding para um toque mais fácil */
    }

    .tabela-scroll {
        max-height: 200px; /* Ajusta a altura máxima da tabela */
        overflow-y: auto; /* Mantém a barra de rolagem se necessário */
    }

    table {
        width: 100%; /* A tabela ocupa toda a largura disponível */
        font-size: 12px; /* Reduz o tamanho da fonte da tabela */
    }

    th, td {
        padding: 8px; /* Ajusta o padding das células da tabela */
    }

    .btn-delete {
        padding: 5px; /* Ajusta o padding do botão para facilitar o toque */
    }
}
