.autocomplete {
    position: relative;
    width: 300px;
}

#colorInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options-list {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Inicialmente oculto */
}

.options-list li {
    padding: 10px;
    cursor: pointer;
}

.options-list li:hover {
    background-color: #f0f0f0;
}